.weather-app {
  max-width: 600px;
  margin: 0 auto;
}
.weather-app-wrapper {
  padding: 20px;
  padding-left: 30px;
  padding-right: 30px;
  border: 1px solid #dadde1;
  border-radius: 10px;
  font-family: "Comic Neue", cursive;
}
#city {
  color: #016fc5;
  font-size: 40px;
  font-weight: 600;
  padding-top: 10px;
}
#date {
  color: #016fc5;
  font-size: 20px;
}
#description {
  color: #44a5f5;
  font-size: 18px;
  text-align: left;
}
#last {
  color: #016fc5;
}
h1 {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
li:first-letter {
  text-transform: capitalize;
}

small {
  font-size: 10px;
}

a {
  text-decoration: none;
}

.weather-temperature img {
  height: 90px;
  width: 90px;
}

.weather-temperature #temperature {
  font-size: 60px;
  color: #44a5f5;
  line-height: 1;
  font-weight: 400;
  position: relative;
  top: 15px;
  padding-left: -20px;
}

.weather-temperature #degree {
  position: relative;
  color: #44a5f5;
  font-size: 16px;
  top: -15px;
}

.weather-temperature .active {
  color: #44a5f5;
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.second-block {
  position: relative;
  color: #7c7c7c;
  top: 15px;
}

.weather-forecast {
  margin-top: 30px;
  text-align: center;
  color: #016fc5;
}

.weather-forecast-date {
  font-size: 16px;
}
.weather-forecast-temperatures {
  font-size: 13px;
}

.weather-forecast-temp-min {
  opacity: 0.6;
}
