.app-wrapper {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 10px;
  font-family: "Comic Neue", cursive;
}
#city {
  color: #016fc5;
  font-size: 40px;
  font-weight: 600;
}
#date {
  color: #016fc5;
  font-size: 20px;
}
#description {
  color: #44a5f5;
  font-size: 18px;
  text-align: left;
}
h1 {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
